---
layout: default
title: Início
cover: false
about: 'sobre'
english: 'english'
freela: 'freela'
---

<header class="main-header {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }} ">RSS</a>
        <a style="margin-right:5px" alt="Translate this page" onclick="translatePage()" class="subscribe-button" href="#">🇬🇧 English</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner" style="margin-top:10%">
            <figure class="author-image author-image-home">
                <a class="img" style="background-image: url({{'/assets/images/profile.png' | relative_url}})">
                <span class="hidden">{{site.author}}</span></a>
            </figure>
            <h1 class="page-title">Oi, eu sou Elvis.</h1>
            <h2 class="page-description">
                {% if site.shortdesc %} {{ site.shortdesc }} {% endif %}
                <br><br>
                <a href='{{page.about | relative_url}}'>Sobre mim</a>
                | <a href='{{page.english | relative_url}}'>Quero aprender inglês</a>
                | <a href='{{page.freela | relative_url}}'>Freelas</a>
            </h2>
        </div>
        <hr style="margin-bottom:0px">
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Role p/ Baixo</span></a>
    
</header>


<main id="content" class="content" role="main">


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>
    {% for post in paginator.posts %}

    <article class="post">
        <header class="post-header">
            <a href="{{ post.url | relative_url }}" class="index-post-cover" style="text-decoration:none">
                {% if post.cover %}<img title="{{post.title}}" src="{{post.cover}}" class="" style="border-radius:5px; max-width:100%" />{% endif %}
                <h2 class="post-title">{{ post.title }}</h2>
            </a>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url | relative_url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if site.author %}
                <img class="author-thumb" src="{{'/assets/images/profile.png' | relative_url}}" alt="Imagem do autor" nopin="nopin" />
                {{ site.author }}
            {% endif %}
            {% if post.categories.size > 0 %} 
                {{ post.categories | array_to_sentence_string | prepend: 'em ' }} 
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%d-%m-%Y" }}">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}JAN
                {% when '2' %}FEV
                {% when '3' %}MAR
                {% when '4' %}ABR
                {% when '5' %}MAI
                {% when '6' %}JUN
                {% when '7' %}JUL
                {% when '8' %}AGO
                {% when '9' %}SET
                {% when '10' %}OUT
                {% when '11' %}NOV
                {% when '12' %}DEZ
                {% endcase %}
                {{ post.date | date: "%Y" }}
            </time> 
        </footer>
    </article>

    {% endfor %}

    {% include pagination.html %}

</main>
