---
layout: default
post_class: post-template page-template
---

<!-- <nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
    <a class="subscribe-button icon-feed" href="{{ 'feed.xml' | relative_url}}">Subscribe</a>
</nav> -->

<header class="main-header post-head {% if page.cover %}"
    style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">Início</a>
        <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }}">RSS</a>
        <a style="margin-right:5px" alt="Translate this page" onclick="translatePage()" class="subscribe-button" href="#">🇬🇧 English</a>
    </nav>
</header>


<main class="content" role="main">
    
    <article class="post">
        <figure class="author-image author-image-big">
            <a class="img" style="background-image: url({{'/assets/images/profile.png' | relative_url}})">
            <span class="hidden">{{site.author}}</span></a>
        </figure>
        <!-- <header class="post-header">
            <a id="blog-logo" href="{{site.baseurl}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <h1 class="post-title" style="padding-top:140px;">{{ page.title }}</h1>

        <section class="post-content" style="background-color:white">
            {{content}}
        </section>

    </article>

</main>
