---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">{% if page.lang and page.lang != 'pt' %}Home{% else %}Início{% endif %}</a>
        <a class="subscribe-button icon-feed" href="{{'feed.xml' | relative_url }}">RSS</a>
        {% if page.lang and page.lang != 'pt' %}<a style="margin-right:5px" alt="Traduzir esta página" onclick="translatePage('pt')" id="translateBtn" class="subscribe-button" href="#">🇧🇷 Português</a>{% else %}<a style="margin-right:5px" alt="Translate this page" id="translateBtn" onclick="translatePage('en')" class="subscribe-button" href="#">🇬🇧 English</a>{% endif %}
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                {% if page.categories.size > 0 %}
                    {% if page.lang and page.lang != 'pt' %}
                        {{ page.categories | array_to_sentence_string | prepend: 'in ' }}
                    {% else %}
                        {{ page.categories | array_to_sentence_string | prepend: 'em ' }}
                    {% endif %}
                {% endif %}
                <time class="post-date" datetime="{{ page.date | date:"%d-%m-%Y" }}">
                    {% if page.lang and page.lang != 'pt' %}
                        {{ page.date | date_to_string}}
                    {% else %}
                        {% assign m = page.date | date: "%-m" %}
                        {{ page.date | date: "%-d" }}
                        {% case m %}
                        {% when '1' %}JAN
                        {% when '2' %}FEV
                        {% when '3' %}MAR
                        {% when '4' %}ABR
                        {% when '5' %}MAI
                        {% when '6' %}JUN
                        {% when '7' %}JUL
                        {% when '8' %}AGO
                        {% when '9' %}SET
                        {% when '10' %}OUT
                        {% when '11' %}NOV
                        {% when '12' %}DEZ
                        {% endcase %}
                        {{ page.date | date: "%Y" }}
                    {% endif %}
                </time>
                <br>{% if page.lang and page.lang != 'pt' %}Reading time:{% else %}Tempo de leitura:{% endif %} {{ content | split: " " | size | divided_by: 250 }} min
            </section>
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            <br>
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url  | relative_url}}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="{{'/' | relative_url }}" style="background-image: url({{site.picture | relative_url}})">
                    <span class="hidden">{{site.author}}</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p markdown="1">
                        {% if page.lang and page.lang != 'pt' %}
                            {{ site.authordescen }}
                        {% else %}
                            {{ site.authordesc }}
                        {% endif %}
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% if page.disqus %}
                {% include disqus.html %}
            {% endif %}

        </footer>

    </article>

</main>
